.backgound {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('./assets/images/Banner1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    padding: 20px;

}


::-webkit-scrollbar {
    display: none;
}

.bgclip {
    -webkit-clip-path: polygon(50% 0%, 80% 24%, 100% 43%, 100% 71%, 100% 100%, 0 100%, 0 83%, 0% 43%, 0 0);
    clip-path: polygon(50% 0%, 90% 0, 100% 10%, 100% 100%, 0 100%, 0 83%, 0% 43%, 0 0);      
    border-top-right-radius: 80% 80%;

}