.backgound {
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('./assets/images/Banner1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    padding: 20px;
  
}


::-webkit-scrollbar  {
    display:  none;
}